/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.user-action-container {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.result-container {
  flex: 1;
  /* Adjust according to the height of the user-action-container */
  margin-top: 150px;
  overflow-y: auto;
  padding: 20px;
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); */
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.message img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.message.user {
  justify-content: flex-end;
}

.message.user img {
  margin-left: 10px;
  margin-right: 0;
}

.message-content {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 60%;
}

.message-content.user {
  background-color: #d1e7dd;
}

.message-content.bot {
  background-color: #f8d7da;
}
